{%extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="/css/chomeQuiPeut.css">
{% endblock %}

{% block javascripts %}
   <script src="js/modaleChomeur.js"></script>
{% endblock %}

{% block body %}

{{ include('commun/zoneFlash.html.twig')}}

<div class="row">
	<!-- ---------------------------------------- -->
    <!-- Section des travailleurs -->
	<!-- ---------------------------------------- -->
	<section class="col-3 sectionGauche">
  		<a class='btn btn-danger' href="{{ path('chomeur_inscription') }}" >S'inscrire</a>

		<h4>Travailleurs inscrits</h4>
		<ul>
		{% for chomeur in chomeurs %}
		<li>
		  <a class='boutonModale' href='chomeurDetail/{{chomeur.id}}'>
		     {{ chomeur.nom }}, ({{chomeur.adresse.ville}})
		  </a>
		</li>
		{% endfor %}
		</ul>

		<form action='{{path("rte_recherche_textuelle")}}' method='post'>
		  Filtrer sur nom des travailleurs:<input type='text' name='filtreTexte'><br>
		  <input class="btn btn-warning" type='submit' name='recherche' value='rechercher'>
		</form>
		<a class='btn btn-danger' href="{{ path('accueil') }}" >Afficher</a>


	</section>

	<!-- ---------------------------------------- -->
    <!-- Section des entreprises -->
	<!-- ---------------------------------------- -->


	<section class="col-9 sectionDroite">
	    <a class='btn btn-danger' href="{{ path('entrep_inscription') }}" >S'inscrire</a>
		<ul>
        {% if entrepFiltree is defined %} 
		   <h4>Emplois disponibles chez {{ entrepFiltree.nom }}</h4>
		{% else %}
    		<h4>Emplois disponibles</h4>
		{% endif %}
       
		{% for offre in tabOE %}
		<li>
		  {{ offre.titre }}, ({{offre.entreprise.nom}}), publié le {{ offre.datePublication|date('d F H:i')}}
		</li>
		{% endfor %}
		</ul>

    	<h5>Filtrer sur entreprise</h5>
		<form action='{{path("rte_appliquer_filtre")}}' method='post'>
		  <select name='filtreEntrep'>
		    {% for entrep in tabEntrep %}
    		    <option value='{{entrep.id}}'>{{entrep.NoM}}</option>
			{% endfor %}
			    <option value='1000'>Toutes</option>
		  </select>
		  <input class="btn btn-warning" type='submit' name='soumettre' value='filtrer'>
		</form>

	</section>
</div>
<div class='row'>
   <a class='col-3 btn btn-info'
      href='{{path("rte_creer_chomeurHC")}}'>Ajouter un chomeur HC</a>
   <a class='col-3 btn btn-info'
      href='{{path("rte_creer_offre_emploiHC")}}'>Ajouter offre emploi HC</a>
   <a class='col-3 btn btn-danger'
      href='{{path("rte_entrep_et_ses_offres")}}'>Afficher Entreprises</a>
</div>
<div id='modaleChomeur' title="Détails d'un chômeur">
</div>
{% endblock %}
