{%extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="/css/chomeQuiPeut.css">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

{{ include('commun/zoneFlash.html.twig')}}

<div class="row">
	
<section class="col-11">
  	<ul>
       {% for oe in entrepriseConnectee.offreEmplois %}
       <li>{{oe.Titre}} , {{oe.salaireAnnuel}}$CAN
       {% if oe.applications|length > 0 %}
          {% for a in oe.applications %}
             {{a.Chomeur.Nom }}
          {% endfor %}
          &nbsp; 
       {% endif %}

       </li>
       {% endfor %}
    </ul>
    <a href="{{ path('rte_creer_offre_emploi') }}" class='btn btn-info'>Ajouter une offre d'emploi</a>
</section>

 <section class="col-1 ">
      <a class='btn btn-info'
      href='{{path("voirSession")}}'>Voir session</a>
   <a class='btn btn-info'
      href='{{path("viderSession")}}'>Vider session</a>
</section>
</div>

<div class="row">
   <a href="{{path('racine')}}" class='col-1 btn btn-danger'>Retour</a>
</div>
{% endblock %}
