{%extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="/css/chomeQuiPeut.css">
{% endblock %}

{% block javascripts %}
   <script src="js/modaleChomeur.js"></script>
{% endblock %}



{% block body %}
<div class="row">
   <h3>{{ message }}</h3>
	<section class="col-3 sectionGauche">
		<h4>Travailleurs inscrits</h4>
		<ul>
		{% for chomeur in chomeurs %}
		<li>
		  <a class='boutonModale' href='chomeurDetail/{{chomeur.id}}'>
		     {{ chomeur.nom }}, ({{chomeur.adresse.ville}})
		  </a>
		</li>
		{% endfor %}
		</ul>
	</section>
	<section class="col-9 sectionDroite">
		<h4>Emplois disponibles</h4>
		<ul>
		{% for offre in tabOE %}
		<li>
		  {{ offre.titre }}, ({{offre.entreprise.nom}})
		</li>
		{% endfor %}
		</ul>
	</section>
</div>
<div class='row'>
   <a class='col-3 btn btn-info'
      href='creerChomeurHC'>Ajouter un chomeur HC</a>
   <a class='col-3 btn btn-info'
      href='creerOffreEmploiHC'>Ajouter offre emploi HC</a>
   <a class='col-3 btn btn-danger'
      href='entrepriseEtSesOffres'>Afficher Entreprises</a>
</div>
<div id='modaleChomeur' title="Détails d'un chômeur">
</div>
{% endblock %}
