<div class="row">
   <h1>Détails de {{chomeur.nom}}</h1>
   Réside au {{ chomeur.adresse.numCivique}} {{chomeur.adresse.rue }}, ville {{chomeur.adresse.ville}}
   <br>Né le {{chomeur.NAIssance|date('Y-m-d')}}
</div>
