{%extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="/css/chomeQuiPeut.css">
{% endblock %}

{% block javascripts %}
<script src="js/unicite.js"></script>
{% endblock %}

{% block body %}
{{ include('commun/zoneFlash.html.twig')}}

<h1>Fournissez vos informations:</h1>

{{ form_start(formulaire)}}
<div>
   {{ form_label(formulaire.nom, 'Nom:')}}
   {{ form_widget(formulaire.nom, {attr:{'onblur':'validerUnicite()'}} )}}
   <section class='erreur'>
   {{ form_errors(formulaire.nom)}}
   </section>
</div>

<div>
   {{ form_label(formulaire.courriel, 'Adresse courriel:')}}
   {{ form_widget(formulaire.courriel)}}
   <section class='erreur'>
   {{ form_errors(formulaire.courriel)}}
   </section>
</div>

<div>
   {{ form_label(formulaire.telephone, 'Téléphone:')}}
   {{ form_widget(formulaire.telephone)}}
   <section class='erreur'>
   {{ form_errors(formulaire.telephone)}}
   </section>
</div>

{{ form_end(formulaire) }}

<a class='btn btn-danger' href="{{ path('racine') }}" >Retour</a>

{% endblock %}
